.container{
  background-image: url('./bg-landing.png'); /* Path to your background image */
  background-size: cover; /* Adjust as needed */
  background-repeat: repeat; /* Adjust as needed */
  /* Other background properties can be added here */
  flex-direction: row;
  justify-content:space-evenly; 
  display: flex;
  margin: 0 0 0 0;

  width: 100%;
}


.sidebar{
    margin-top: 50px;
    margin-left: 2rem;

    width: 300px;
    height: 310px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;

}

.profilebar{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 2rem;

  width: 1000px;
  height: 700px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;

}

.profile-circle{
  width: 95px;
  height: 95px;
  text-align: center;

  background-color: gray;
  border-radius: 100px
}

.profile-fix-circle{
  margin-left: 4rem;
  width: 30px;
  height: 30px;
  text-align: center;

  background-color: #d9d9d9;
  border-radius: 100px
}

.botton{
  border-radius: 10px;
  background-color: #03128E;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: white;
  width: 200px;
  height: 32px;
  align-items: center;

  /* Define hover styles here */
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.select2-button{
  border-radius: 10px;
  background-color: white;
  font-size: 12px;
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  width: 200px;
  height: 32px;
  align-items: center;

}

.select-button{
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: #100F0D;
  width: 200px;
  height: 32px;
  align-items: center;

}

.user-icon{
  margin-top: 20px;
}

.camera-icon{
  margin-top: 5px;
}

.button-icon{
  margin-left: 10px;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically */
  }
  .sidebar {
    margin-left: 10px;
    width: 95%; /* Full width */
  }
  .profilebar {
    margin-left: 10px;
    width: 95%; /* Full width */
  }
}