
.footer {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color:#03128E;
  justify-content: space-evenly;
  padding-top: 40px;
}


.word {
  color: white; /* Take up remaining space */
  font-family: "Prompt",sans-serif;
  font-size: 15px;
}


.space-footer {

  margin-top: 1rem;
}

.MobileNav {
  display: none;

  button {
    background-color: transparent;
    position: relative;
    z-index: 100;
  }

  i {
    font-size: 1.4rem;
    color: black;
  }

  @media (max-width: 800px) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &.open {
    display: flex;
  }
}

/* common styles !!! YOU DON'T NEED THEM */
.container {
  margin: 60px auto 0px auto;
  text-align: center;
  
  h1 {

    font-family: "Prompt",sans-serif;
    
    span {
      display: inline-block;
      
      &:before,
      &:after {
        content: "";
        display: block;
        width: 34px;
        height: 2px;
        background-color: #ffffff;
        margin: 0px 0px 0px 2px;
      }
    }
  }
}

.social-media-icons {
  margin-top: 20px; /* Adjust the spacing from the paragraph above */
}

.social-media-icons a {
  color: #fff; /* Icon color */
  font-size: 40px; /* Icon size */
  margin-right: 20px; /* Spacing between icons (adjust as needed) */
  text-decoration: none;
}

.social-media-icons a:hover {
  color: #038E7F; /* Hover color */
}
