.gallery {
    display: grid;
    margin: 0 auto;
    width: 70vw;
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 15px;
    margin-bottom: 150px;
}

.title-gallery {
    font-size: 40px;
    text-align: center;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .box:nth-child(1){
    grid-row: span 2;
}

.gallery .box:nth-child(3){
    grid-column: span 2;
}

.gallery .box:nth-child(6){
    grid-column: span 2;
}

.gallery .box:nth-child(8){
    grid-column: span 2;
}