.logoStyle{
  width: 230px;
  height: 60px; 
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #03128E;
  height: 60px;
  padding-right: 50px;
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navBar li a{
  text-decoration: none;
  font-size: 1.3rem;
  /* font-weight: 600; */
  color: white;
}

.navBar li a:hover{
  color: #fff;
}

.navBar li a:hover::after{
  content: "";
  width: 30%;
  height: 2.5px;
  background-color: #fff;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.lineButton{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #03128E;

  font-size: 1.3rem;
  font-family: 'DM Sans', sans-serif;
  color: #fff;

  width: 180px;
  height: 40px;
}

.solidButton{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #038E7F;
  
  color: white;
  font-size: 1.3rem;
  font-family: 'DM Sans', sans-serif;
  
  width: 180px;
  height: 40px;
}

.solidButton:hover{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #038E7F;

  color: white;
}