/* Navbar.css */
.navBarContainer{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  /* background-color: pink; */

  font-size: 18px;
  /* font-family: 'DM Sans'; */
}

.headerLogo{
  width: 230px;
  height: 60px;
}

.headerMenu{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  margin: 0 0 0 30px;
  justify-content: space-around;
}

.headerMenu a {
  margin-right: 40px; /* Adjust this value to control the spacing */
}
.headerMenu a:last-child {
  margin-right: 0; /* Remove the margin from the last link */
}

.headerButton{
  /* border: 1px solid green; */
  margin-left: auto;
  padding-right: 18px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lineButton{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: white;

  font-size: 18px;
  /* font-family: 'DM Sans'; */
  color: #100F0D;

  width: 160px;
  height: 40px;
}

.solidButton{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #038E7F;

  font-size: 20px;
  /* font-family: 'DM Sans'; */
  color: white;

  width: 160px;
  height: 40px;
}
