.logoStyle{
  width: 252px;
  height: 60px; 
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 60px;
  padding-right: 50px;
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navBar li a{
  text-decoration: none;
  font-size: 1.3rem;
  /* font-weight: 600; */
  color: 100F0D;
}

.navBar li a:hover{
  color: #100F0D;
}

.navBar li a:hover::after{
  content: "";
  width: 30%;
  height: 2.5px;
  background-color: #fff;
  position: absolute;
  bottom: -6px;
  left: 35%;
}

.lineButton{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #fff;

  font-size: 1.3rem;
  font-family: 'DM Sans', sans-serif;
  color: #100F0D;

  width: 180px;
  height: 40px;
}

.lineButton:hover{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #fff;

  color: #100F0D;
}

.solidButton{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #038E7F;
  
  color: white;
  font-size: 1.3rem;
  font-family: 'DM Sans', sans-serif;
  
  width: 180px;
  height: 40px;
}

.solidButton:hover{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: #038E7F;

  color: white;
}

.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 1rem 2rem;
  /* background-color: #fff;
  color: #fff; */
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 3px 0;
  background-color: #03128E;
  transition: 0.4s;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #f1f1f1;
  width: 50%;
  height: 100vh;
  z-index: 1;
  transition: 0.4s ease;
}

.nav-links.open li{
  padding: 1.3rem 0;
}

.nav-links.open li a:hover{
  color: #100F0D;
}

.nav-links.open li a:hover::after{
  content: "";
  width: 50%;
  height: 2.5px;
  background-color: #100F0D;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 25%;
}

.nav-links.open .lineButton{
  background-color: #f1f1f1;
}

.nav-links.open .lineButton:hover{
  background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .navBar {
    flex-direction: column;
  }
}