
html {
    height: 100%;
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.blue-box-forgot {
    width: 500px;
    height: 500px;
    background-color: #03128E;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
    border-radius: 20px 0 0 20px;
    position: relative;
    overflow: hidden;
    border-right: none;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
}

.white-box-forgot {
    width: 500px;
    height: 500px;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
    border-radius: 0 20px 20px 0;
    position: relative;
    border-left: none;
    overflow: hidden;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
}

.blue-box-forgot img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.head-text {
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    font-weight: lighter;
    display: block;
    margin-top: 100px;
    line-height: 1.5;
}
.content-text {
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    font-weight: lighter;
    display: block;
    line-height: 1.5;
}
.last-text {
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
    font-weight: lighter;
    display: block;
    line-height: 1.5;
}