.IntroContainer {
  height: 740px;
  margin: 0 auto; /* Added "px" units to the margin values */
  background-image: url("../../assets/images/bg-landing.png"); /* Use "url()" for background-image */
  background-size: cover; /* Ensure the background image covers the container */
  background-repeat: no-repeat; /* Prevent background image repetition */

}

.IntroContent {
  color: black; /* Take up remaining space */
  font-size: 28px;
}

.space-intro{
  padding-top: 10rem;
  padding-left: 3rem;
}




.Button{
  border: 3px solid #038E7F;
  border-radius: 12px;
  background-color: white;

  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  color: #100F0D;

  width: 150px;
  height: 40px;
}
  
  

.IntroTitle {
  font-size: 50px;
  color: #100F0D; /* Adjust the margin-bottom as needed for spacing */
}
