
.footer {
  text-align: center;

  height: 352px;
  background-color:#03128E;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 0;
  justify-content: space-between;
  /* position: relative; Add this line */
}

.footer-grap {
  margin: 3rem;
}

.word {
  color: white; /* Take up remaining space */
  font-size: 15px;
}


.space {

  margin-left: 2rem;
  margin-right: 2rem;

  @media (max-width: 900px) {
    color: white;
    display: flex;
    padding: 20px 3rem;
    letter-spacing: 2px;

    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    color: #100F0D;
  }
}

.login-button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin-left: 3rem;
  margin-right: 10px;

  color: #100F0D;

  font-size: 15px;
  font-family: 'DM Sans', sans-serif;

  background: white;
  

  &:hover {
    background: white;
    border: 2px solid #038E7F;

    font-size: 15px;
    font-family: 'DM Sans', sans-serif;

    color: #100F0D;
  }

  @media (max-width: 800px) {
    background: transparent;

    &:hover {
      background: none;
    }
  }
}

.register-button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  font-size: 15px;
  font-family: 'DM Sans', sans-serif;

  color: white;
  background: #038E7F;

  &:hover {
    background: white;
    border: 2px solid #038E7F;

    font-size: 15px;
    font-family: 'DM Sans', sans-serif;

    color: #100F0D;
  }

  @media (max-width: 800px) {
    background: transparent;

    &:hover {
      background: none;
    }
  }
}

.Logo-footer {
  margin-top: 3rem;
  width: 303px;
  height: 67px;
}


.MobileNav {
  display: none;

  button {
    background-color: transparent;
    position: relative;
    z-index: 100;
  }

  i {
    font-size: 1.4rem;
    color: black;
  }

  @media (max-width: 800px) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &.open {
    display: flex;
  }
}

/* common styles !!! YOU DON'T NEED THEM */
.container {
  margin: 60px auto 0px auto;
  text-align: center;
  
  h1 {
    
    span {
      display: inline-block;
      
      &:before,
      &:after {
        content: "";
        display: block;
        width: 34px;
        height: 2px;
        background-color: #ffffff;
        margin: 0px 0px 0px 2px;
      }
    }
  }
}

.social-media-icons {
  margin-top: 20px; /* Adjust the spacing from the paragraph above */
}

.social-media-icons a {
  color: #fff; /* Icon color */
  font-size: 40px; /* Icon size */
  margin-right: 20px; /* Spacing between icons (adjust as needed) */
  text-decoration: none;
}

.social-media-icons a:hover {
  color: #038E7F; /* Hover color */
}
